<h1>User</h1>
<table>
	<% @users.each do |user| %>
		<tr>
			<td><%= link_to user.name, user_path(user.id) %></td>
			<td><%= link_to "Bearbeiten", edit_user_path(user.id) %></td>
			<td><%= link_to "Löschen", user_path(user.id), method: :delete, data: { confirm: "Wirklich löschen?" } %></td>
		</tr>
	<% end %>
</table>