/*
 *= require_tree .
 *= require_self
 */

/* CSS-Reset of browser-predefined attributes and values */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: none;
	font-size: 100%;
	font-family: Arial;
	vertical-align: baseline;
	line-height: 1.5;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

h1{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 40px;
	color: rgb(32,124,229);
	text-align: center;
	font-family: Courier;
}
a{
	color: rgb(73,155,234);
	text-decoration: none;
}
a:hover{
	color: rgb(32,124,229);
}
h1 a{
	font-size: 35px;
	font-weight: bold;
	margin-bottom: 40px;
	color: rgb(32,124,229);
	text-align: center;
	font-family: Courier;
}
h1 a:hover{
	text-shadow: 2px 2px 1px #cdc9c9;
}
.bill h2, .bigger_h2_heading{
	font-size: 24px;
	margin-bottom: 30px;
}
.bill h3{
	font-size: 18px;
}
p{
	margin: 20px 0px;
	text-align: left;
}
hr{
	margin: 10px 0px;
	height: 1px;
	background: #cdc9c9;
}
label{
	font-weight: bold;
}
input{
	font-size: 16px;
}
input[type="submit"]{
	background: rgb(73,155,234);
	color: white;
	font-size: 16px;
	border: none;
	padding: 2px 15px;
	width: auto;
	height: 35px;
}
input[type="checkbox"]{
	display: inline-block;
	vertical-align:middle;
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	margin: 0;
	padding: 0;
	margin-left: 20px;
}
input[type="submit"]:hover{
	background: rgb(32,124,229);
}
input[type="text"]{
	border: 1px solid #cdc9c9;
	width: auto;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
input[type="text"]:focus{
	border: 1px solid rgb(32,124,229);
}
input[type="text"]:hover{
	border: 1px solid rgb(32,124,229);
}
textarea{
	border: 1px solid #cdc9c9;
	padding: 5px;
	font-size: 16px;
	height: 200px;
	width: 600px;
}
textarea:focus{
	border: 1px solid rgb(32,124,229);
}
textarea:hover{
	border: 1px solid rgb(32,124,229);
}
input[type="email"]{
	border: 1px solid #cdc9c9;
	width: auto;
	height: 30px;
	padding-left: 5px;
	padding-right: 5px;
}
input[type="email"]:focus{
	border: 1px solid rgb(32,124,229);
}
input[type="email"]:hover{
	border: 1px solid rgb(32,124,229);
}
input[type="password"]{
	border: 1px solid #cdc9c9;
	height: 30px;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}
input[type="password"]:focus{
	border: 1px solid rgb(32,124,229);
}
input[type="password"]:hover{
	border: 1px solid rgb(32,124,229);
}
input[type="number"]{
	width: auto;
}
table { 
    border-spacing: 1px;
    border-collapse: separate;
}
table th{
	padding: 5px 20px;
	text-align: center;
	vertical-align: middle;
}
table td{
	padding: 5px 20px;
	vertical-align: middle;
}
table .actions_cell{
	color: #cdc9c9;
}
table .was_participated_cell{
	background: #009700;
}
table .was_not_participated_cell{
	background: #FF0000;
}
h3{
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 25px;
}
.counting_ul{
	margin-left: 30px;
}
.counting_ul li{
	list-style-type: disc;
}
fieldset{
	border: 1px solid #cdc9c9;
	padding: 20px;
	width: auto;
}
fieldset legend{
	font-weight: bold;
}


#main_wrapper{
	margin: 0 auto;
	margin: 70px 50px;
	margin-bottom: 90px;
}
#top_header{
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	box-shadow: 0px 0px 2px 2px gray;
	z-index: 2;
}
#top_header #logo_wrapper{
	border-left: 1px solid rgb(73,155,234);
	border-right: 1px solid rgb(73,155,234);
	height: 50px;
	width: 54px;
	float: left;
	margin-left: 50px;
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
}
#top_header #logo_wrapper:hover{
	background: rgb(73,155,234);
}
#top_header #logo_wrapper a{
	display: block;
	width: 100%;
}
#top_header #logo_wrapper img{
	border-radius: 5px;
	margin-top: 3px;
	margin-left: 5px;
}
#top_header h1{
	color: white;
	margin-top: 5px;
	font-family: Courier;
	text-shadow: 2px 2px 2px black;
	line-height: 1;
	text-align: center;
	font-size: 35px;
}
.status_messages_wrapper{
	position: fixed;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 0px;
	z-index: 1;
}
.status_messages_wrapper p{
	margin: 0;
	color: white;
	margin: 10px 20px;
	font-size: 16px;
	display: block;
	width: 90%;
	float: left;
}
.status_messages_wrapper img{
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}
#error_wrapper{
	background: rgb(255,0,0);
}
#success_wrapper{
	background: rgb(0,130,0);
}
#footer_menue{
	background: rgb(73,155,234); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(73,155,234,1)), color-stop(100%,rgba(32,124,229,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(73,155,234,1) 0%,rgba(32,124,229,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5',GradientType=0 ); /* IE6-9 */
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	box-shadow: 0px 0px 2px 2px gray;
}
#footer_menue ul{
	margin: 0;
	padding: 0;
	margin-left: 50px;
	float: left;
}
#footer_menue ul li{
	width: auto;
	border-right: 1px solid rgb(73,155,234);
	display: block;
	height: 50px;
}
#footer_menue ul li:first-child{
	border-right: 1px solid rgb(73,155,234);
}
#footer_menue ul li a{
	color: white;
	font-size: 30px;
	font-weight: normal;
	font-family: Courier;
	text-align: center;
	display: block;
	padding: 3px 25px;
	width: auto;
	height: 100%;
	text-decoration: none;
}
#footer_menue ul li a:hover{
	background: rgb(73,155,234);
}


#tile_wrapper{
	width: 800px;
	margin: 0 auto;
}
.tile_row{
	width: 100%;
	height: 180px;
	clear: both;
}
.tile{
	box-shadow: none;
	margin: 0px 10px;
	background: rgb(73,155,234);
	height: 180px;
	float: left;
	margin-bottom: 20px;
}
.tile h2{
	color: white;
	font-size: 50px;
	font-weight: normal;
	text-align: right;
	margin-right: 10px;
	line-height: 1;
}
.tile .inner_tile_wrapper{
	width: 100%;
	height: 180px;
}
.tile .inner_tile_wrapper h2{
	text-align: right;
	width: auto;
}
.tile .inner_tile_wrapper img{
	clear: both;
	position: relative;
	left: 50%;
	margin-left: -60px;
	margin-top: 5px;
}
.tile .inner_tile_wrapper .smaller_tile_h2{
	font-size: 40px;
}
.tile .inner_tile_wrapper .small_tile_h2{
	font-size: 30px;
}
.tile .inner_tile_wrapper .big_tile_h2{
	font-size: 100px;
	margin-top: 5px;
	text-align: right;
	width: auto;
}
.tile #admin_tile h2{
	font-size: 40px;
	margin-top: 70px;
}
.tile #admin_tile img{
	margin-right: 20px;
	margin-top: 20px;
}
.tile h3{
	color: white;
	font-size: 25px;
	font-weight: normal;
	text-align: right;
	margin-right: 10px;
	line-height: 1;
}
.tile a{
	display: block;
	width: 100%;
	height: 180px;
}
.tile a:hover{
	box-shadow: 0px 0px 2px 2px gray;
}
.tile .img_wrapper{
	width: 100%;
	height: 160px;
}
.tile .img_wrapper h2{
	float: left;
	margin-left: 20px;
	margin-top: 60px;
}
.tile .img_wrapper img{
	float: right;
	margin-top: 10px;
	margin-right: 10px;
}
.tile_span_1{
	width: 180px;
}
.tile_span_2{
	width: 380px;
}
.tile_span_3{
	width: 580px;
}
.tile_span_4{
	width: 780px;
}
.trainings_table{
	margin-bottom: 20px;
}

#draggable_group_list{
	float: left;
	width: 150px;
}
#draggable_group_list li{
	margin: 20px 0px;
	padding-top: 5px;
	height: 30px;
	text-align: center;
	color: black;
	cursor: move;
	width: 150px;
	overflow: hidden;
}
.dropped_group_list_li{
	text-align: center;
	color: black;
	list-style: none;
	padding-top: 10px;
	overflow: hidden;
	cursor: pointer;
	list-style: none;
	height: 40px;
	padding-top: 10px;
}
#droppable_trainingsplan_table{
	float: left;
	margin-left: 200px;
	margin-bottom: 50px;
}
#droppable_trainingsplan_table tr{
	height: 50px;
}
#droppable_trainingsplan_table .time_cell{
	font-weight: bold;
}
#droppable_trainingsplan_table .droppable_trainingsplan_table_cell{
	height: 35px;
	width: 160px;
	border: 1px solid lightgray;
	padding: 0;
	margin: 0;
}
.hoverDroppable{
	border: 1px solid black;
}
#information_box{
	background: black;
	position: absolute;
	color: white;
	border-radius: 5px;
	padding: 2px 5px;
	top: 0;
	left: 0;
	display: none;
}

@media only print
{
    table .was_participated_cell{
		background: #00FF00;
	}
	table .was_not_participated_cell{
		background: #FF0000;
	}
}