<h1>Kunden</h1>
<p>
	<%= link_to "Neuen Kunden erstellen", new_customer_path %>
</p>
<table>
	<thead>
		<tr>
			<th>Spielername</th>
			<th>Aktionen</th>
		</tr>
	</thead>
	<tbody>
		<% @customers.each do |customer| %>
			<tr>
				<td><%= link_to customer.name, customer_path(customer.id) %></td>
				<td class="actions_cell">
					<%= link_to "Bearbeiten", edit_customer_path(customer.id) %> | 
					<%= link_to "Löschen", customer_path(customer.id), method: :delete, data: { confirm: "Wirklich löschen?" } %>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>